<template>

</template>
<script>
import 'bulma/css/bulma.css'

export default {
  name: "Footer",
  data() {
    return {}
  },
  methods:{
    
  }
}


</script>

<style scoped>
 .footer footer{
   float: bottom;
 }
</style>
