<template>
  <div class=" container home">
    <!-- Hero content: will be in the middle -->
    <div class="hero-body strip">
      <div class="container has-text-centered">
        <h1 class="title">
          MON GUIDE
        </h1>
        <h2 class="subtitle">
          J'apprends à travers les meilleure tuto
        </h2>
      </div>
    </div>

    <div class="box">
      <article class="media">
        <div class="media-content">
          <div class="content">
            <p class="has-shadow presentation">
              <strong>John Smith</strong> <small>@johnsmith</small>
              <small>31m</small>
              <br />
              La plateforme <b>MON GUIDE</b> va vous permettre de de retrouver
              d'une manière plus simple les tutoriels dans le domaine où vous
              voulez apprends
            </p>
          </div>
        </div>
      </article>
      <div class="media-left lang">
        <div class="field has-addons">
          <p class="control">
            <span class="select">
              <select  @change="onChange($event)" v-model="lang">
                <option selected="selected" value="Java">Java</option>
                <option value="Python">Python</option>
                <option value="Nodejs">Nodejs</option>
                <option value="PHP">PHP</option>
              </select>
            </span>
          </p>
        </div>
      </div>
        <div class="media-left lang">
        <div class="field has-addons">
          <p class="control">
            <span class="select">
              <select  @change="onChange($event)" v-model="key">
                <option selected="selected" value="FR">FR</option>
                <option value="ENG">ENG</option>
                <option value="TOUTES">TOUTES</option>
              </select>
            </span>
          </p>
        </div>
      </div>
      <div class="field has-addons search">
        <div class="control">
          <input  @keyup="search(searchterm)" v-model="searchterm" class="input" type="text" placeholder="Find a repository" />
        </div>
        <div class="control">
          <a class="button is-info">
            Search
          </a>
        </div>
      </div>
    </div>

    <div class="media-content">
     <div class="media-left">
   <div class="container">
  <div class="columns">
    <div class="column">
      <div class="card bm--card-equal-height">
        <div class="card-image">
    <figure class="image is-4by3">
      <img src="https://bulma.io/images/placeholders/1280x960.png" alt="Placeholder image">
    </figure>
  </div>
        <div class="card-content">
          <div class="media">
      <div class="media-left">
        <figure class="image is-48x48">
          <img src="https://bulma.io/images/placeholders/96x96.png" alt="Placeholder image">
        </figure>
      </div>
      <div class="media-content">
        <p class="title is-4">John Smith</p>
        <p class="subtitle is-6">@johnsmith</p>
      </div>
    </div>

    <div class="content">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      Phasellus nec iaculis mauris. <a>@bulmaio</a>.
      <a href="#">#css</a> <a href="#">#responsive</a>
      <br>
      <time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time>
    </div>
  </div>
      </div>
    </div>
    
    <div class="column">
      <div class="card bm--card-equal-height">
        <div class="card-content">Hello World</div>
      </div>
    </div>
     <div class="column">
      <div class="card bm--card-equal-height">
        <div class="card-content">Hello World</div>
      </div>
    </div>
     <div class="column">
      <div class="card bm--card-equal-height">
        <div class="card-content">Hello World</div>
      </div>
    </div>

    

  </div>
</div>
     </div>



    </div>
    <appModal></appModal>
  </div>
</template>

<script>
import Modal from '@/components/blocs/Modal'
export default {
  name: "HelloWorld",
    components:{
    appModal:Modal,
  },
  data() {
    return {
      key:'FR',
      lang:'Java',
      searchterm:''
    };
  },
    methods: {
        onChange(event) {
            console.log(event.target.value)
        },

          onChangeLang(event) {
            console.log(event.target.value)
        },
        search(event) {
       console.log(event)
       this.searchterm =event
    },
    }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.home {
  margin-top: 50px;
}
.home .box {
  border-top: 5px solid red;
}
.home .presentation {
  background: #efef;
  padding: 10px;
  border-radius: 5px;
}
.home .presentation:hover {
  background: #eee;
  border: 1px solid #efef;
  transition: 0.3s;
}
.home .search,
.lang {
  margin-top: 10px;
}
.home .strip {
  margin-bottom: 10px;
}

.bm--card-equal-height {
   display: flex;
   flex-direction: column;
   height: 100%;
}
.bm--card-equal-height .card-footer {
   margin-top: auto;
}
</style>
