<template>
  <div id="app">
  <appHeader></appHeader>
      <router-view></router-view>
 
     <appFooter></appFooter>
  </div>
  
</template>

<script>
import Navbar from '@/components/Navbar';
import Footer from '@/components/Footer';
export default {
  name: 'App',
  components:{
    appHeader:Navbar,
    appFooter: Footer
  }
}
</script>

<style>

#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  display: flex;
 

}


</style>
