<template>
<div>
    
<article id="launch-modal">
		
    <section class="section">
      <div class="container">
        <div class="content has-text-centered">
          <p class="control">
            <button v-on:click="launch" class="button is-primary">Launch modal</button>
          </p>
          </div>
      </div>
    </section>
        
    <div class="modal" v-bind:class="{'is-active':isActive}">
      <div class="modal-background"></div>
        <div class="modal-content">
          <div class="box">
            <div class="content has-text-centered">
             
                <h3>{{message}}</h3>
              
              <span>&nbsp;</span>
            </div>
          </div>
        </div>
        <button @click="close" class="modal-close"></button>
    </div>
</article>
      


</div>
</template>

<script>

  export default {
      name:'Modal',
    data () {
      return {
        
        isActive: false
      }
    },
 
   methods: {
    launch: function() {
      this.isActive = true;
    },
    close: function() {
      this.isActive = false;
    }
  },
  computed: {
    message: function() {
      return "Hello Bulma Modal";
    }
  },
  beforeCreate(){
       this.isActive = true;
  },
  created(){
       this.isActive = true;
  }
  

  }

</script>
<style scoped>

</style>